@{
    ViewBag.Title = "ASP.Net MVC App Theme";
}
<div class="block" id="block-text">
    <div class="content">
        <h2 class="title">
            @ViewBag.Message</h2>
        <div class="inner">
            <p class="first">
                This template was ported to ASP.Net MVC from the <a href="https://github.com/pilu/web-app-theme">Web
                    App Theme project on GitHub.</a>
                <p>
                    To learn more about the different templates visit <a href="http://pilu.github.com/web-app-theme/#themes/default">
                        https://github.com/pilu/web-app-theme</a>.</p>
            </p>
            <hr />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. <span class="hightlight">Excepteur sint occaecat cupidatat non proident</span>,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                <span class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore</span></p>
            <p>
                <span class="gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore</span></p>
        </div>
    </div>
</div>
